# Dependencies
node_modules/

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# Uploads (user-uploaded files)
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Build
dist
